body {
    background-color: #ff8400;
    background-image: url(argyle.png);
}

h1 {
    font-family: Georgia;
    text-align: center;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 900px;
    margin: 0 auto;
    background-color: #fff;
}

td {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

td.free.selected {
    font-weight: bold;
    color: Gold;
}

td.selected {
    background-color: blue;
    color: white;
}

#bingoBoard.win:before {
    content: 'You Win!';
    text-transform: uppercase;
    color: green;
    font-size: 40px;
    margin-left: 400px;
    display: block;
}